# GitHub (owner/repo en minuscules)
GITHUB_REPO=roseratugo/3026-codebase

# Database
DB_USERNAME=postgres
DB_PASSWORD=changeme

# RabbitMQ
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=changeme

# Mail
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=changeme

# Admin
ADMIN_SECRET_KEY=changeme
ADMIN_SIGNUP_CODE=changeme
